.env
*.ini
.vscode
.vscode/*
__pycache__
gluetube/__pycache__
gluetube/__pycache__/*
gluetube.egg-info
gluetube.egg-info/*
gluetube/pipelines/*
dist
dist/*
*.cfg
!gluetube/cfg/network_oncall_calendar_sync.cfg
!test_network_oncall_calendar_sync.cfg
!gluetube/cfg/gluetube.cfg
!test_systems.cfg
tests/__pycache__
build/package/rpmbuild/BUILD/*
build/lib
build/lib/*
build/bdist*
gluetube.code-workspace
.venv
.pytest_cache
.coverage
!setup.cfg
.mypy_cache
*.log
